click
python-dateutil
datasette==1.0a26
datasette-turnstile==0.1a3
datasette-publish-fly
datasette-template-sql
datasette-cluster-map
datasette-render-markdown>=2.2.1
datasette-vega
datasette-atom==0.10a0
dogsheep-beta>=0.11
datasette-graphql==3.0a1
datasette-referrer-policy==0.1
sqlite-utils>=3.9.1
yaml-to-sqlite>=1.0
markdown-to-sqlite>=1.0
github-to-sqlite>=2.8.2
python-graphql-client
httpx
feedparser
pypi-to-sqlite>=0.2.3
pytest
# These are used in deploy, listing them here so they
# show up in the GitHub dependency graph:
datasette-json-html
datasette-template-sql
python-dateutil
datasette-vega
datasette-atom==0.10a0
datasette-graphql==3.0a1
datasette-json-html
datasette-debug-asgi
html5lib
beautifulsoup4
Pygments
s3-credentials
