click
python-dateutil
datasette==1.0a2
datasette-publish-fly
datasette-template-sql
datasette-cluster-map
datasette-render-markdown>=2.2.1
datasette-vega
datasette-atom
dogsheep-beta>=0.10.2
datasette-graphql
sqlite-utils>=3.9.1
yaml-to-sqlite>=1.0
markdown-to-sqlite>=1.0
github-to-sqlite>=2.8.2
python-graphql-client
httpx==0.27.2 # https://github.com/simonw/datasette.io/issues/161
feedparser
pypi-to-sqlite>=0.2.3
pytest
# These are used in deploy, listing them here so they
# show up in the GitHub dependency graph:
datasette-json-html
datasette-template-sql
python-dateutil
datasette-vega
datasette-atom
datasette-graphql
datasette-json-html
datasette-debug-asgi
html5lib
beautifulsoup4
Pygments
