click
python-dateutil
datasette
datasette-template-sql
datasette-render-markdown
datasette-vega
datasette-atom
datasette-graphql
sqlite-utils
yaml-to-sqlite
github-to-sqlite>=2.8.2
python-graphql-client
httpx
