{% extends "page_base.html" %}

{% block title %}Datasette Desktop for macOS{% endblock %}

{% block content %}
{{ render_markdown("""
# Datasette Desktop

Datasette Desktop for macOS provides an installable application for easily running Datasette on your own computer.

Download the application, drag `Datasette.app` to your `Applications` folder and double-click the icon to get started!
""") }}
<ul>
{% for row in sql("""
select name, browser_download_url, size from assets
where release in (
  select releases.id from releases
  join repos on releases.repo = repos.id
  where repos.full_name = 'simonw/datasette-app'
  order by published_at desc limit 1
)
""", database="content") %}
    <li><a style="font-weight: bold;" href="{{ row.browser_download_url }}">{{ row.name }}</a> ({{ format_bytes(row.size) }})</li>
{% endfor %}
</ul>

<p><img alt="Screenshot of the Datasette Desktop app" style="max-width: 100%" src="/static/datasette-desktop.jpg"></p>

{{ render_markdown("""
## Features include

- Open an existing SQLite database file and offer all of Datasette's functionality, including the ability to explore tables and to execute arbitrary SQL queries.
- Open a CSV file and offer the Datasette table interface ([example here](https://covid-19.datasettes.com/covid/economist_excess_deaths)). By default this uses an in-memory database that gets cleared when the app shuts down, or you can...
- Import CSV files into tables in on-disk SQLite databases (including creating a new blank database first).
- By default the application runs a local web server which only accepts connections from your machine... but you can change that in the `File -> Access Control` menu to allow connections from anyone on your network. This includes [Tailscale](https://tailscale.com/) networks too, allowing you to run the application on your home computer and then access it securely from other devices such as your mobile phone anywhere in the world.
- You can install plugins! This is the most exciting aspect of this initial release: it's already in a state where users can customize it and developers can extend it, either with [Datasette's existing plugins](https://datasette.io/plugins) (69 and counting) or by [writing new ones](https://docs.datasette.io/en/stable/writing_plugins.html).

Suggestions and feedback welcome! Join [this discussion on GitHub](https://github.com/simonw/datasette-app/discussions/67).
""") }}

{% endblock %}
