{% extends "page_base.html" %}

{% block title %}Datasette Desktop for macOS{% endblock %}

{% block content %}
<style>
.download-button {
  box-shadow: 0px 4px 14px -7px #0e0c82;
  background: linear-gradient(to bottom, #8484f4 5%, rgb(94, 92, 172) 100%);
  background-color: #8484f4;
  border-radius: 8px;
  display: inline-block;
  cursor: pointer;
  color: white;
  font-size: 1.1em;
  font-weight: bold;
  padding: 0.5em 1em;
  margin-right: 0.5em;
  text-decoration: none;
  text-shadow: 0px 1px 0px #3d768a;
}
.download-button:link,
.download-button:visited,
.download-button:hover
.download-button:focus {
  color: white;
}
.download-button:active {
  position:relative;
  top: 1px;
}
.latest-release {
  border: 1px solid #ccc;
  margin-bottom: 1em;
  border-radius: 10px;
  background-color: white;
  padding: 1em 1em 0 1em;
}
.latest-release h2 {
  margin-top: 0;
}
</style>
{{ render_markdown("""
# Datasette Desktop

Datasette Desktop for macOS provides an installable application for easily running Datasette on your own computer.

Download the application, drag `Datasette.app` to your `Applications` folder and double-click the icon to get started!
""") }}

{% for row in sql("""
select
  assets.name,
  assets.browser_download_url,
  assets.size,
  releases.tag_name,
  releases.published_at,
  releases.body as release_notes
from assets join releases
on assets.release = releases.id
where releases.id in (
  select releases.id from releases
  join repos on releases.repo = repos.id
  where repos.full_name = 'simonw/datasette-app'
  order by published_at desc limit 1
)
""", database="content") %}
    <p><a class="download-button" href="{{ row.browser_download_url }}">Download and install Datasette</a> <span style="white-space: nowrap">{{ format_bytes(row.size) }}</span></p>
    <div class="latest-release">
      <h2><span style="font-weight: normal">Latest release: </span>{{ row.tag_name }} <span style="font-weight: normal">on</span> {{ prettydate(row.published_at) }}</h2>
      {{ render_markdown(row.release_notes) }}
    </div>
{% endfor %}

<p>Suggestions and feedback welcome on <a href="https://github.com/simonw/datasette-app/discussions">GitHub Discussions</a>.</p>

<p style="margin-top: 3em"><img alt="Screenshot of the Datasette Desktop app" style="max-width: 100%" src="/static/datasette-desktop.jpg"></p>

{{ render_markdown("""
## Features include

- Open an existing SQLite database file and offer all of Datasette's functionality, including the ability to explore tables and to execute arbitrary SQL queries.
- Open a CSV file and offer the Datasette table interface ([example here](https://covid-19.datasettes.com/covid/economist_excess_deaths)). By default this uses an in-memory database that gets cleared when the app shuts down, or you can...
- Import CSV files into tables in on-disk SQLite databases (including creating a new blank database first).
- By default the application runs a local web server which only accepts connections from your machine... but you can change that in the `File -> Access Control` menu to allow connections from anyone on your network. This includes [Tailscale](https://tailscale.com/) networks too, allowing you to run the application on your home computer and then access it securely from other devices such as your mobile phone anywhere in the world.
- You can install plugins! This is the most exciting aspect of this initial release: it's already in a state where users can customize it and developers can extend it, either with [Datasette's existing plugins](https://datasette.io/plugins) (69 and counting) or by [writing new ones](https://docs.datasette.io/en/stable/writing_plugins.html).
""") }}

{% endblock %}
