{% extends "page_base.html" %}

{% block title %}Datasette Examples{% endblock %}

{% block content %}
<h1>Datasette Examples</h1>

{{ render_markdown("""

## This website

[datasette.io](https://datasette.io/) runs using a heavily customized Datasette instance implementing the [Baked Data](https://simonwillison.net/2021/Jul/28/baked-data/) pattern. Read more about how it works in [datasette.io, an official project website for Datasette](https://simonwillison.net/2020/Dec/13/datasette-io/) and [Building a search engine for datasette.io](https://simonwillison.net/2020/Dec/19/dogsheep-beta/).

## Covid-19 cases and deaths

https://covid-19.datasettes.com/ uses data from Johns Hopkins CSSE, the New York Times and the LA Times to show Covid-19 cases and deaths around the USA and the world. It updates several times a day as new data becomes available.

## United States members of congress

https://congress-legislators.datasettes.com/ shows United States members of congress, plus Presidents and Vice Presidents, using data from [unitedstates/congress-legislators](https://github.com/unitedstates/congress-legislators) on GitHub.

## SBA Paycheck Protection Program Loan Data

https://sba-loans-covid-19.datasettes.com/ shows recipients of Covid-19 Paycheck Protection Program loans, using data released by the Small Business Administration.

## Global Power Plants Database

https://global-power-plants.datasettes.com

Data from http://www.wri.org/publication/global-power-plant-database

Deployed automatically when the underlying data changes by https://github.com/simonw/global-power-plants-datasette

## The Foreign Agents Registration Act

[FARA](https://en.wikipedia.org/wiki/Foreign_Agents_Registration_Act) is a US law that requires foreign lobbyists to register with the US Department of Justice.

[fara.datasettes.com](https://fara.datasettes.com/) publishes data released by the DoJ and uses Datasette to make it searchable.

You can read more about how the project works in [Tracking FARA by deploying a data API using GitHub Actions and Cloud Run](https://simonwillison.net/2020/Jan/21/github-actions-cloud-run/).

## UK Register of Members Interests

https://register-of-members-interests.datasettes.com/ - background here: https://simonwillison.net/2018/Apr/25/register-members-interests/ source code here: https://github.com/simonw/register-of-members-interests

## FiveThirtyEight

https://fivethirtyeight.datasettes.com/ - data derived from https://github.com/fivethirtyeight/data

## San Francisco Open Data

https://san-francisco.datasettes.com/ - datasets derived from https://data.sfgov.org/browse

https://simonwillison.net/2017/Nov/25/new-in-datasette/ has various tutorials relating to this data.

## Lahman’s Baseball Database

https://baseballdb.lawlesst.net/ - published by Ted Lawless: http://lawlesst.github.io/notebook/baseball-datasette.html

## ParlGov

https://parlgov.datasettes.com/ - worldwide political data from http://www.parlgov.org/

## Australian Open Data

https://australian-dunnies.now.sh/ - public toilets in Australia, from https://data.gov.au/dataset/national-public-toilet-map

""") }}


{% endblock %}
