{% extends "page_base.html" %}

{% block title %}Use cases for Datasette{% endblock %}

{% block content %}
{{ render_markdown("""
# Use cases for Datasette

Datasette can be applied to all kinds of interesting problems.

## [Exploratory data analysis](/for/exploratory-analysis)

Import data from CSVs, JSON, database connections and more. Datasette will automatically show you patterns in your data and help you share your findings with your colleagues.

## [Instant data publishing](/for/publishing-data)

The built-in `datasette publish` command lets you instantly publish your data to hosting providers like Google Cloud Run, Heroku or Vercel.

## [Rapid prototyping](/for/rapid-prototyping)

Spin up a JSON (or [GraphQL](https://github.com/simonw/datasette-graphql)) API for any data in minutes. Use it to prototype and prove your ideas without building a custom backend.

## [Data Journalism](/for/data-journalism)

Datasette was originally designed as a tool for data journalists, to help report on data-driven stories, crunch through large datasets and publish the results.

## [Building websites](/for/websites)

Datasette can be used to power dynamic-static websites: sites that run on serverless hosting while providing dynamic data-backed functionality.

## [Serverless read-only databases](/for/serverless)

Serverless hosting usually depends on external hosted databases, but Datasette lets you implement the Baked Data pattern to bundle your data with your application code and deploy it to serverless providers.

""") }}

{% endblock %}
