{% extends "_directory.html" %}
{% set table = "plugins" %}

{% block title %}Datasette Plugins{% endblock %}

{% block top_matter %}
<h1>Datasette Plugins</h1>

<p>Plugins extend Datasette with new functionality - visualization options, authentication schemes, data manipulating tools, additional output formats and more.</p>
<p>Learn <a href="https://docs.datasette.io/en/stable/plugins.html">more about plugins</a>, or find out <a href="https://docs.datasette.io/en/stable/writing_plugins.html">how to write your own</a>.</p>

{% endblock %}
