{% extends "page_base.html" %}

{% block title %}Datasette Tutorials{% endblock %}

{% block content %}
{{ render_markdown("""
# Datasette Tutorials

These tutorials are intended to complement the official [Datasette documentation](https://docs.datasette.io/) by providing step-by-step guides to learning Datasette and the Datasette ecosystem tools.

- **[Exploring a database with Datasette](/tutorials/explore)** shows how to use the Datasette web interface to explore a new database.
- **[Learn SQL with Datasette](/tutorials/learn-sql)** introduces SQL, and shows how to use that query language to ask questions of your data.
- **[Cleaning data with sqlite-utils and Datasette](/tutorials/clean-data)** shows how to use <code>sqlite-utils</code> to clean data, import it into SQLite and then explore it with Datasette. Includes a ten minute accompanying video.

## Other tutorials

- **[Analyzing ScotRail audio announcements with Datasette—from prototype to production](https://simonwillison.net/2022/Aug/21/scotrail/)** talks through the full process of creating an initial rapid prototype using Datasette Lite, building a custom plugin for it, then launching a full Datasette instance using GitHub Actions for build and deployment automation and Vercel for hosting. It also shows how to build features using complex SQL queries stored as Datasette canned queries.

Suggestions for more tutorials are welcome! Please share those on the [Datasette Discord](https://discord.gg/ktd74dm5mw).
""") }}

{% endblock %}
