{% extends "page_base.html" %}

{% block title %}Datasette for publishing data{% endblock %}

{% block content %}

<style>
main img {
    max-width: 80%
}
</style>
{{ render_markdown("""
# Datasette for publishing data

Datasette is easy to deploy on both traditional and serverless hosting platforms.

The `datasette publish` command can deploy to [Heroku](https://heroku.com/) and [Google Cloud Run](https://cloud.google.com/run). Plugins can be used to deploy Datasette on [Vercel](https://vercel.com/) or [fly.io](https://fly.io/).

Datasette also works great on [Glitch](https://glitch.com/).

When combined with GitHub Actions, Datasette can be used to automatically deploy new databases on a scheduled basis. See [Deploying a data API using GitHub Actions and Cloud Run](https://simonwillison.net/2020/Jan/21/github-actions-cloud-run/).

""", extra_tags=["img"], extra_attrs={"img": ["alt", "src"]}) }}

{% endblock %}