{% extends "page_base.html" %}

{% block title %}Datasette for exploratory analysis{% endblock %}

{% block content %}

<style>
main img {
    max-width: 80%
}
</style>
{{ render_markdown("""
# Datasette for exploratory analysis

Your first step with any new data set should be to start exploring it. Datasette provides multiple tools for doing this.

## Start browsing the data

Datasette's table interface lets you start scrolling through data straight away.

![Screenshot of the table interface](/static/datasette-screenshot.png)

## Facets

Datasette automatically identifies columns with less than twenty unique values and gives you the option to facet by them - seeing the most common values, and selecting those to filter the set. This provides a powerful way to start spotting patterns in the data.

![Screenshot of the facet interface](/static/screenshots/facets.png)

## Visualization

Plugins such as [datasette-vega](https://github.com/simonw/datasette-vega) and [datasette-cluster-map](https://github.com/simonw/datasette-cluster-map) provide tools for interactively visualizing data directly within the Datasette interface.

![Screenshot of datasette-cluster-map](/static/screenshots/datasette-cluster-map.png)

""", extra_tags=["img"], extra_attrs={"img": ["alt", "src"]}) }}

{% include "_uses.html" %}

{% endblock %}