<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" type="text/css" href="/static/site.css">
{% include "_analytics.html" %}
{% block extra_head %}{% endblock %}
</head>
<body class="page {% block body_class %}{% endblock %}">
  <header>
    <nav>
      <a href="/"><img class="datasette-logo-small" src="/static/datasette-logo.svg" alt="Datasette"></a>
      {% include "_nav_links.html" %}
    </nav>
  </header>
  <main>
    <div class="content">
      {% block content %}{% endblock %}
    </div>
  </main>
  <footer>Powered by <a href="https://datasette.io/" title="Datasette v{{ datasette_version }}">Datasette</a>
    &middot; <a href="https://github.com/simonw/datasette.io">How this site works</a>
    &middot; <a href="https://github.com/simonw/datasette/blob/main/CODE_OF_CONDUCT.md">Code of conduct</a></footer>
  </footer>
</body>
</html>
